/*WebPage by ItzSelenux-->*/

    * {padding:0px; margin:0px; font-family: 'Roboto', sans-serif;}
#header
    {margin:auto;}
ul, ol 
    {list-style:none;}
.nav
    {width:100%; background:#4DB6AC; height:40px; font-family: 'Roboto', sans-serif;}
.nav li a 
    {background-color:#4DB6AC;color:#ffffff; 
    text-decoration:none; padding:10px 16px; display:block;}
.nav li a:hover
    {background-color:#00766b}
.nav >li 
    {float:right;}
.nav li ul
    {display:none; position:absolute; min-width:120px;}
.nav li:hover > ul
    {display:block;}
